{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "always",
  "proseWrap": "preserve",
  "overrides": [
    {
      "files": "*.yaml",
      "options": {
        "tabWidth": 2,
        "printWidth": 40,
        "singleQuote": true
      }
    }
  ]
}
